<div class="search_wrapper">
  <div class="bg-mask">
    <div class="form_panel">
      <div class="page_title">
        <h1>Search</h1>
        <p>こどもをあずけたい日を検索！</p>
      </div>
      <!-- searchへのリンク -->
      <div class="round_back">
        <a class="page_link" href="/parentpage">
          <i class="fas fa-arrow-left"></i>
        </a>
      </div>

      <form class="form_area_reserve_search" action="/reserve_search" method="POST">
        <div class="cp_iptxt">
          <label class="ef">
            <input type="date" name="date" placeholder="" required="required">
          </label>
        </div>
        <input type="submit" class="submit_btn" value="検 索">
      </form>
    </div>
  </div>
</div>
