<div class="form_wrapper">
  <div class="bg-mask">
    <div class="form_panel">
      <div class="page_title">
        <h1>Signup</h1>
      </div>
      <form class="form_area" action="/signup_parent" method="POST">
        <div class="cp_iptxt_par">
          <div class="cp_iptxt_child cp_iptxt_child_left">
            <label class="ef">
              <input type="text" name="last_name" placeholder="姓">
            </label>
          </div>
          <div class="cp_iptxt_child">
            <label class="ef">
              <input type="text" name="first_name" placeholder="名">
            </label>
          </div>
        </div>
        <div class="cp_iptxt">
          <label class="ef">
            <input type="text" name="mailaddress" placeholder="メールアドレス">
          </label>
        </div>
        <div class="cp_iptxt">
          <label class="ef">
            <input type="text" name="password" placeholder="パスワード">
          </label>
        </div>
        <div class="cp_iptxt">
          <input type="radio" name="sex" value="woman" checked="checked">女性
          <input type="radio" name="sex" value="man">男性
        </div>
        <input type="submit" class="submit_btn" value="登録する">
      </form>

    </div>
  </div>
</div>
