<div id="top">

    <div class="top_area">
      <div class="page_title">
        <h1>Sittching</h1>
      </div>
      <div class="round_area">
        <div class="btn_area">
          <div class="text_area">
            <p>シッターさんと、<br>子供をあずけたい親をつなぐ<br>マッチングサービス。</p>
          </div>
          <a href="/signup_parent" class="square_btn bottom_btn">はじめる</a><br>
          <a href="/login" class="square_btn">ログイン</a><br>
          <a href="/signup_sitter" class="link_text">シッターとして登録</a>
        </div>
      </div>
    </div>

</div>
